:host {
    --__flex-direction: column-reverse
}

.add-new-activity {
    margin: 8px;
    display: flex;
    flex-direction: var(--__flex-direction);
    gap: 8px;
    justify-content: center;
}

@media screen and (min-width: 800px) {
    :host {
        --__flex-direction: row;
    }
}