@import  '__breakpoints';
@import  '__flexbox';
:host {
    --__flex-direction: column-reverse
    @include mq('tablet') {
        --__flex-direction: row;
    }
}

.add-new-activity {
    margin: 8px;
    @include flex-center;
    flex-direction: var(--__flex-direction);
    gap: 8px;
}