@import  '__breakpoints.scss';
@import '__flexbox.scss';
:host {
    --__flex-direction: column;
    @include flex;
    flex-direction: var(--__flex-direction);
    gap: 16px;
    @include mq('tablet') {
        --__flex-direction: row;
    }
}

.additional-wrapper {
    @include flex-column;
    flex: 1;
    justify-content: space-evenly;   
}