@mixin flex {
    display: flex;
}

@mixin flex-align-center {
    @include flex;
    align-items: center;
}

@mixin flex-justify-between {
    display: flex;
    justify-content: space-between;
}

@mixin flex-justify-center {
    @include flex;
    justify-content: center;
}
  
@mixin flex-center {
    @include flex-justify-center;
    @include flex-align-center;
}

@mixin flex-column {
    @include flex;
    flex-direction: column
}

@mixin flex-center-column {
    @include flex-column;
    @include flex-center;
}