.analytics__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

did-bar-chart {
    width: 100%;
}

h3 {
    text-align: center;
}

button {
    justify-self: flex-end;
}