@import  '__flexbox';
:host {
    @include flex-center;
}
.activity-management {
    @include flex-column;
}

.activity-management__current-activities {
    @include flex-center-column;
    max-height: 500px;
    gap: 8px;
    padding: 16px;
}

.activity-management__current-activities__wrapper {
    @include flex-column;
    overflow-y: scroll;
    padding: 24px;
}