@import  '__flexbox';

:host {
    &.active .single-activity__preview {
        border: 1px solid green;
    }
}

.single-activity__preview, .single-activity__edit {
    @include flex-align-center;
    @include flex-justify-between;
    padding: 8px;
    gap: 8px;
}