:host {
    &.active .single-activity__preview {
        border: 1px solid green;
    }
}

.single-activity__preview, .single-activity__edit {
    padding: 8px;
    width: calc(100% - 18px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.single-activity__preview__color {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
}