<div class="single-activity" *ngIf="config">
    <div class="single-activity__preview" *ngIf="!editMode; else editModeTemplate" (dblclick)="editMode = true;">
        <div class="single-activity__preview__name">
            {{config.name}}
        </div>
        <did-dot [color]="config.color"></did-dot>
    </div>
    <ng-template #editModeTemplate>
        <div class="single-activity__edit" [formGroup]="activityFormGroup">
            <sama-input label="color" id="add-new-activity__color" type="color" formControlName="color"></sama-input>

            <sama-input label="name" id="add-new-activity__name" type="text" formControlName="name"></sama-input>

            <sama-button label="Save"(click)="saveActivity()"></sama-button>
            <sama-button label="Abort"(click)="resetEditMode()"></sama-button>
            <sama-button label="delete Activity"(click)="deleteActivity.emit(config)"></sama-button>
        </div>
    </ng-template>
</div>