<div class="single-activity" *ngIf="config">
    <div class="single-activity__preview" *ngIf="!editMode; else editModeTemplate" (dblclick)="editMode = true;">
        <div class="single-activity__preview__name">
            {{config.name}}
        </div>
        <did-dot [color]="config.color"></did-dot>
    </div>
    <ng-template #editModeTemplate>
        <div class="single-activity__edit" [formGroup]="activityFormGroup">
            <label for="add-new-activity__color">Color</label>
            <input id="add-new-activity__color" type="color" formControlName="color" />
        
            <label for="add-new-activity__name">Name</label>
            <input id="add-new-activity__name" type="text" formControlName="name" />

            <button (click)="saveActivity()">Save</button>
            <button (click)="resetEditMode()">Abort</button>
            <button (click)="deleteActivity.emit(config)">Delete Activity</button>
        </div>
    </ng-template>
</div>