<div class="single-activity" *ngIf="config">
    <div class="single-activity__preview" *ngIf="!editMode; else editModeTemplate" (dblclick)="editMode = true;">
        <div class="single-activity__preview__color" [style.backgroundColor]="config.color">

        </div>
        <div class="single-activity__preview__name">
            {{config.name}}
        </div>
    </div>
    <ng-template #editModeTemplate>
        <div class="single-activity__edit" [formGroup]="activityFormGroup">
            <mat-form-field appearance="fill">
                <mat-label>Color</mat-label>
                <input matInput type="color" formControlName="color">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput type="text" formControlName="name">
            </mat-form-field>

            <button mat-raised-button color="primary" (click)="saveActivity()">Save</button>
            <button mat-raised-button color="accent" (click)="resetEditMode()">Abort</button>
            <button mat-raised-button color="warn" (click)="deleteActivity.emit(config)">Delete Activity</button>
        </div>
    </ng-template>
</div>