html, body {
    --_primaryTextColor: #E1E2E2;
    --_hightlightColor: #FB8122;
    --_backgroundColor: #1D2228; 
    height: 100%;
    background-color: var(--_backgroundColor);
    color: var(--_primaryTextColor); 
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h1, h2, h3, h4, h5, h6 {
    color: var(--_hightlightColor);
    margin: 0px;
}