@import '__flexbox';
:host {
    @include flex-center;
    margin-bottom: 8px;
}

.number-analytics__wrapper {
    @include flex-column;
}

:host, .number-analytics__wrapper, .number-analytics__entry {
    width: 100%;
}

.number-analytics__entry {
    @include flex-justify-between;
    border-bottom: 1px solid var(--_highlightColor);
    padding-bottom: 4px;
    margin: 8px;
    

    span {
        flex: 1 1 0px;
    }


    &:last-child {
        border-bottom: none;
    }
}
